@<include file="Public:head" />
<script type="text/javascript" src="__PUBLIC__/js/calendar/jquery.dyndatetime.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/calendar/lang/calendar-utf8.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="__PUBLIC__/js/calendar/css/calendar-blue2.css"  />
<script type="text/javascript">
jQuery(document).ready(function() {		
	jQuery("#ordertime_min").dynDateTime({
		ifFormat: "%Y-%m-%d %H:%M:%S",
		daFormat: "%l;%M %p, %e %m,  %Y",
		align: "Br",
		electric: true,
		singleClick: false,
		button: ".next()",
		showOthers: true,
		weekNumbers: true,
		showsTime: true
	});
	jQuery("#ordertime_max").dynDateTime({
		ifFormat: "%Y-%m-%d %H:%M:%S",
		daFormat: "%l;%M %p, %e %m,  %Y",
		align: "Br",
		electric: true,
		singleClick: false,
		button: ".next()",
		showOthers: true,
		weekNumbers: true,
		showsTime: true
	});
	jQuery("#endtime").change(function(){
		if(! validateInputDate(jQuery("#endtime").val()) )
		{
			jQuery("#endtime").val('');
			$.alert("时间格式不正确,正确的格式为:2011-01-01 08:00");
		}
		if($("#starttime").val()!="")
		{
			if($("#starttime").val()>$("#endtime").val())
			{
				$("#endtime").val("");
				$.alert("输入的时间不符合逻辑, 起始时间大于结束时间");
			}
		}
	});
	jQuery("#lotteryid").change(function(){
		var data_method = <{@$data_method}>;
		var data_issue =  <{@$data_issue}>;
		var obj_method = $("#methodid")[0];
		var obj_issue  = $("#issue")[0];
		i =  $("#lotteryid").val();
		$("#methodid").empty();
		$("#issue").empty();
		addItem( obj_method,'所有玩法',-10 );
		addItem( obj_issue,'所有奖期',-10 );
		if(i>0)
		{
			$.each(data_method[i],function(j,k){
				addItem( obj_method,k.methodname,k.methodid );
			});
			$.each(data_issue[i],function(j,k){
				addItem( obj_issue,k.issue,k.issue );
			});		
		}
		SelectItem(obj_method,0);
		SelectItem(obj_issue,'0');
	});
	$("#lotteryid").val(0);
	$("#lotteryid").change();
});

function checkForm(obj)
{
	if( jQuery.trim(obj.ordertime_min.value) != "" )
	{
		if( false == validateInputDate(obj.ordertime_min.value) )
		{
			alert("时间格式不正确");
			obj.ordertime_min.focus();
			return false;
		}
	}
	if( jQuery.trim(obj.ordertime_max.value) != "" )
	{
		if( false == validateInputDate(obj.ordertime_max.value) )
		{
			alert("时间格式不正确");
			obj.ordertime_max.focus();
			return false;
		}
	}
}
</script>
<body>
	<SPAN id=ShowSound></SPAN>
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<!--标签栏开始-->
  <tr>
    <td width="17" valign="top" background="__PUBLIC__/images/mail_leftbg.gif"><img src="__PUBLIC__/images/left-top-right.gif" width="17" height="29" /></td>
    <td valign="top" background="__PUBLIC__/images/content-bg.gif"><table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" class="left_topbg" id="table2">
      <tr>
        <td height="31"><div class="titlebt">重复派奖</div></td>
      </tr>
    </table></td>
    <td width="16" valign="top" background="__PUBLIC__/images/mail_rightbg.gif"><img src="__PUBLIC__/images/nav-right-bg.gif" width="16" height="29" /></td>
  </tr><!--标签栏结束-->
  <tr><!--左侧一坚-->
    <td valign="middle" background="__PUBLIC__/images/mail_leftbg.gif">&nbsp;</td>
    <td valign="top" bgcolor="#F7F8F9">
	<!--主体表格-->
		<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
		 
	
		   <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
						  	<td>
 
						  		
						  	</td>
						  </tr>
		  <!--空行-->
		    <tr>
            <td>
            	<font color='red' size="3">请先选择类型（奖金还是返点），然后输入重复派奖的期号，点搜索,系统会自动扣除会员所得重复的金额
            	<br>
            	
            	</font>
            </td>
          </tr>
		  <!--功能列表开始-->
		  <tr>
            <td>
            	<div class="viewlist">
            
						<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
						  <tr>
						    <td height="30">
						    <form action="__URL__/cfpaijiang">	
						       <table border="0" align="left" cellpadding="0" cellspacing="0">
						            <tr>             
						              <td >

类型: <select name="cftype" id="modes">

<option value="9">重复的奖金</option>
<option value="4">重复的返点</option>

</select>
	
游戏名称: 
  <select name="lotteryid" id="lotteryid" style="width:100px;">
  
   <option value="1">重庆时时彩</option><option value="2">黑龙江时时彩</option><option value="3">新疆时时彩</option><option value="4">江西时时彩</option><option value="5">时时乐</option><option value="6">十一运夺金</option><option value="7">多乐彩</option><option value="8">广东十一选五</option><option value="9">福彩3D</option><option value="10">排列三、五</option><option value="11">重庆十一选五</option>  </select>	
		              
奖期: <input style='width:90px;' type="text" name="cfissue" value="" size="19" />&nbsp;&nbsp;
<button name="submit" type="submit" width='69' height='26' class="btn_search" /></button>




						              
						              </td>
						              
						             
						            </tr>
						        </table></form>	
						    </td>
						  </tr>
						  <!--第二行-->
						   <!--列表开始-->
						  <tr>
						    <td>   
						      <table width="100%" border="0" align="left" cellpadding="0" cellspacing="1" bgcolor="#E9EBEF" id="viewlist" class="viewlist">
						          <!--表头-->
								  <thead>
								  <tr>
						          	<th>帐变编号</th>
							        <th>用户名</th>
							       <th>时间</th>
							        <th>类型</th>
							        <th>游戏</th>
							        <th>玩法</th>
							       <th>期号</th>
							        <th>模式</th>
							        <th>收入</th>
							       <th>支出</th>
							       <th>余额</th>
							       <th>备注</th>					           
						          </tr>
								  </thead>
								  <!--主题-->
								  {volist name="accountList" id="vo"}
							      <tr class="needchangebg">
							    	<td ><a href="__APP__/Order/orderinfo/ordernum/<{$vo.ordernum}>"><{$vo.accountnum}></a></td>
							        <td><{$vo.username}></td>
							        <td ><{$vo.addtime}></td>
							        <td><{$vo.accounttypename}></td>
							        <td><{$vo.lotteryname}></td>
							        <td ><{$vo.methodname}></td>
							        <td><{$vo.issue}></td>
							        <td ><{$vo.mode}></td>
							        <td ><{$vo.shuolu}></td>
							        <td><{$vo.zhichu}></td>
							        <td ><{$vo.money_after}></td>
							        <td title="<{$vo.beizhu}>"><{$vo.beizhu|msubstr=0,10}></td>
							     </tr>
							     {/volist}
							       <switch name="message">
									<case value="0">
										 <tr>
							    	<td height="37" colspan="13" align="center" class=needq><span>请选择查询条件之后进行查询<span></td>
							            </tr>
									</case>
									<case value="2">
										<tr>
							    	<td height="37" colspan="13" align="center" class="no-records"><span>没有找到指定条件的记录</span></td>
							             </tr>
									</case>		
									<case value="1">
									 <tr align="right">
							    	<td height="37" colspan="13">
							    		 <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#E9EBEF" class="pagelist">						          
								
									  <tr>
							            <th align="center">
										<{$page}>
										</th>   
							          </tr>
								 
						</table> <!--分页列表结束-->
							    	</td>
							         </tr>
									</case>		
							  </switch>		  	 
						    </table></td>
						  </tr>
						  <!--列表结束-->
						  
						  </table>
						
						
						
                </div>	
                  <!--分页列表-->
						 
						
            </td>
          </tr>
          <!--功能列表开始-->
		</table>
	<!--主体结束-->
	
   
	<include file="Public:foot" />

	