<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="IE=EmulateIE8" http-equiv="X-UA-Compatible" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页－汇华国际</title>
<link href='__ASSETS__skin/main/bl_ococ.css' rel="stylesheet" type="text/css" />
<link href="__ASSETS__skin/js/jqueryuiskin/smoothness/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="__ASSETS__skin/js/jquery-1.8.0.min.js"></script>

<script type="text/javascript" src="__ASSETS__skin/js/jqueryui/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="__ASSETS__skin/js/jqueryui/i18n/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" src="__ASSETS__skin/main/onload.js"></script>
<script type="text/javascript" src="__ASSETS__skin/common.js"></script>
<style>
body{
background:url(__ASSETS__images/bg<{$Think.cookie.theme_bg}>.jpg) center top repeat;background-size:cover;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='__ASSETS__/images/bg<{$Think.cookie.theme_bg}>.jpg',sizingMethod='scale');
}
</style>
<body>
<div class="pagemain">
<style type="text/css">
#kinMaxShow{display:none;}
#kinMaxShow .kinMaxShow_button{right:48% !important;}
</style>
<link href="__ASSETS__/skin/main/home.css" rel="stylesheet" type="text/css">
<!--banner滚动js -->
<script src="__ASSETS__/skin/js/jquery.kinMaxShow-1.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
  $("#kinMaxShow").kinMaxShow({
      height:350,
      button:{
        showIndex:false,
        normal:{background:'url(__ASSETS__/images/common/button.png) no-repeat -14px 0',marginRight:'8px',border:'0',right:'44%',bottom:'20px'},
        focus:{background:'url(__ASSETS__/images/common/button.png) no-repeat 0 0',border:'0'}
        },
  });
});
</script>
<!--banner滚动js -->
<div class="homebanner">
    <div id="kinMaxShow">
      <div><img src="__ASSETS__/images/common/banner1.jpg"/></div>
        <div><img src="__ASSETS__/images/common/banner2.jpg"/></div>
        <div><img src="__ASSETS__/images/common/banner3.jpg"/></div>
    </div>
</div>
<div class="homegonggao">
<div class="gonggaotiele"><span class="titleico">责任声明</span></div>
<ul>
<li>
1.用户须年满18周岁以上方可使用本平台服务，彩票有风险投资需谨慎。<br />
2.用户在投注前请核实此游戏是否符合当地法律。如因在本站投注触犯当地法律，本站概不负责。<br />
3.用户在平台以账号和密码登录后进行的任何操作行为，均被视为有效。如立即通知上级代理锁定账户并与客服联系找回账号修改密码。<br />
4.本平台建议用户本人在平台进行个人密码修改、投注、充值、提现等重要操作，且平台不会委托他人（任何个人或团体）替用户进行上述操作。<br />
5.每次登陆时应核对自己的游戏分数，如果对游戏分数有任何疑问，请及时联系网站客服。<br />
6.为避免争议，请会员在使用本网站服务前，详细阅读本站各项协议，会员一开始投注，将被视为已接受网站各项协议。<br />
7.本平台保有更新和修改本条款和游戏规则的权利。任何更新、修改将在平台上公布。<br />
</li>
</ul>
</div>
</div>
</body>
</html>