<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<TITLE><{$webname}></TITLE>
<STYLE type="text/css">
.gonggaodiv div{height:32px;overflow:hidden;}
</STYLE>
<LINK href="__PUBLIC__/css/v1/main.css" rel="stylesheet" type="text/css" />
<SCRIPT type="text/javascript" src="__PUBLIC__/js/jquery.js"></SCRIPT>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<SCRIPT type="text/javascript" src="__PUBLIC__/js/artDialog/jquery.artDialog.js?skin=black"></SCRIPT>
<SCRIPT language="javascript" type="text/javascript">

function show(type,username,lotteryname,issue,countissue,yinkui){
	if(type==0){
		strcontent="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font color=blue>尊敬的玩家"+username+"</font><br><br><br>&nbsp;&nbsp;"+lotteryname+"&nbsp;&nbsp;第<font color=green>"+issue+"</font>期&nbsp;&nbsp;已经开奖<br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您共有<font color=red>"+countissue+"</font>条投注记录<br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本期盈亏为￥<font color=red>"+yinkui+"</font>";
	}
	if(type==1){
		strcontent="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font color=blue>尊敬的玩家"+username+"</font><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;<font color=red>您的提款已经处理,请查收!</font>";
	}
	if(type==2){
		strcontent="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font color=blue>尊敬的玩家"+username+"</font><br><br><br>&nbsp;&nbsp;<font color=green>您本次冲值￥<font color=red>"+yinkui+"</font>元已经到帐,请查收!</font>";
	}
	$.dialog({
	    title: '温馨提示',
	    width: 280,// 
	    content: strcontent,
	    icon: 'face-smile',
	    left:'100%',
	    top:'100%',
	    time: 16
	});
}

var  resizeTimer = null;
jQuery(document).ready(function(){
	
	jQuery("#mainbox").height( jQuery(document).height()-jQuery("#topbox").height() );
	jQuery("#leftbox").height( jQuery("#mainbox").height() );
	$(window).resize(function(){
		if(resizeTimer==null){
			resizeTimer = setTimeout("resizewindow()",300);
		}
	}); 

	jQuery("#dragbutton").click(function(){
		if( jQuery(this).attr("class") == "img_arrow_l" ){
			jQuery(this).attr("class",'img_arrow_r');
			jQuery("#leftbox").css({width:"0px"}).hide();
			jQuery("#mainbox").css({width:"100%"});
		}else{
			jQuery(this).attr("class",'img_arrow_l');
			jQuery("#leftbox").css({width:"160px"}).show();
			jQuery("#mainbox").css({width:"auto"});
		}
	});

$(function(){

	var _wrap=$('#zjtgul');
	var _interval=2000;
	var _moving;
	_wrap.hover(function(){
		clearInterval(_moving);
	},function(){
		_moving=setInterval(function(){
			var _field=_wrap.find('li:first');
			var _h=_field.height();
			_field.animate({marginTop:-_h+'px'},600,function(){
				_field.css('marginTop',0).appendTo(_wrap);
			})
		},_interval)
	}).trigger('mouseleave');
});

_permgetdata = setInterval(function(){
	$.ajax({
		type : 'POST',
		url  : '__URL__/getZJMessage',
		data : 'flag=gettoprize',
		timeout : 5000,
		success : function(data){
				var partn = /empty/;				
				if( !partn.exec(data)){
					eval("data="+data+";");
					var html = '';
					$.each(data,function(i,n){
						html += '<li>恭喜 【<span class=c1>'+n.name+'</span>】 '+n.lottery+' <span class=c2>'+n.issue+'</span> 期, 喜中 <span class=c3>'+n.prize+'</span> 大奖!</li>';
					});
					$("#zjtgul").empty();
					$(html).appendTo("#zjtgul");
					
				}
				return true;
		}
		
	});
},290000);


_permg = setInterval(function(){

	$.ajax({
		type : 'POST',
		url  : '__URL__/getKaiJiangMessage',
		data : 'flag=gettoprize',
		timeout : 5000,
		success : function(data){
				
				var partn = /empty/;				
				if( !partn.exec(data)){
					eval("data="+data+";");
				

					show(data.type,data.username,data.lotteryname,data.issue,data.countissue,data.yinkui);
					
				}
				return true;
		}
		
	});
	
},10*1000);


_fastData = setInterval(function(){
	var $lf = $("#leftusermoney",window.top.frames['leftframe'].document);
	$.ajax({
		type : 'POST',
		url  : '__APP__/User/getUserMoney',
		timeout : 5000,
		success : function(data){
				var partn = /logout/;
				
				
				if( partn.exec(data) ){
					
					alert("此账号在别处登陆,您被迫下线!");					
					window.top.location.href="__APP__/Public/login";
					return false;
				}
				eval("data="+data+";");
				//用户余额
				
				if( data.money != 'empty' ){
					if(data.money=="" || data.money == null){
						return true;
					}
					var dd = moneyFormat(data.money);					
					$lf.html(dd);
				}
				return true;
		}
	});
},1000*6*10);

});
function resizewindow(){
	jQuery("#mainbox").height( jQuery(window).height()-jQuery("#topbox").height() );
	jQuery("#leftbox").height( jQuery(window).height()-jQuery("#topbox").height() );
	resizeTimer = null;
}


function jiangurl(){
		data2=0;
	$.ajax({
		type : 'GET',
		async:false,
		url  : '__APP__/User/getTodayXiaoFei/ajax/jiang',
		timeout : 5000,
		success : function(data){
		//window.location.href="/369/1.php?m="+data+"";
		//window.open("/369/1.php?m="+data+"");

			data2=data;
		
		}
	});
window.open("/369/1.php?m="+data2+"");
	
}

</script>
<SCRIPT LANGUAGE='JavaScript'>function ResumeError() {return true;} window.onerror = ResumeError; </SCRIPT>
<style>
html {overflow: hidden;}
</style>
</HEAD>
<BODY>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
	<td id="topbox">
		<div id="header-div">
		
		  <div id="logo-div" onclick="javascript:window.top.location='./';">
		  <img src="/images/comm/t.gif" class='main_logo' title="返回首页"/>
		  </div>
		 
		  <div id="submenu-div" >
			<ul>
			 
			  <li><a TITLE='首页' href="<{:url('index')}>" style="border-left:none;" target="_top"><img class='link1' src='/images/comm/t.gif'>首页</a></li>
			  <li><a TITLE='在线客服' style='color:#09C;padding-left:6px;' href="http://tb.53kf.com/webCompany.php?arg=10079805&style=1" target="_blank"><img src='/images/comm/t.gif'>在线客服</a></li>
			  <li><a TITLE='刷新当前页' href="javascript:window.top.frames['mainframe'].document.location.reload();"><img class='link2' src='/images/comm/t.gif'>刷新</a></li>
			  <li><a TITLE='退出系统' style='color:#090' onClick="return confirm('确认退出系统?');" href="<{:url('login/logout')}>" target="_top"><img class='link4' src='/images/comm/t.gif'>退出</a></li>
		    </ul>
			 
			<!--
			<ul style="width:100px;background: url('');margin-right:20px;">
		  		<li>
		  		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=615939276&site=qq&menu=yes"><img border="0" src="/images/button_11-1.gif" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
		  		</li>
		  	</ul>
			<ul style="width:100px;background: url('');margin-right:30px;">
		  		<li>
		  		
		  		<img onclick="jiangurl();" style="cursor:pointer"  border="0" src="__PUBLIC__/images/888889.gif" width="128px" height="40px">
		  		
		  		</li>
		  	</ul>
			-->
  			</div>
</div></td></tr></table> 
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	
	<tr>
    	<td style="width:160px; height:100%; background: #D94733;" valign="top" id="leftbox">
            <iframe name="leftframe" id="leftframe" frameborder="0" width="100%" height="100%" scrolling="auto" style="overflow:visible;" src="__URL__/menu/"></iframe>
        </td>
        <td valign="top" id="dragbox"><img src="/images/comm/t.gif" class='img_arrow_l' border="0" id="dragbutton" style="cursor:pointer;" /></td>
        
        <td id="mainbox" valign="top">
        <iframe name="mainframe" id="mainframe" frameborder="0" width="100%" height="100%" scrolling="auto" style="overflow:visible;" src="__URL__/main/"></iframe>
        </td>
         
    </tr> 
</table>

<div class="gonggaodiv">
	<div>
		<ul id="zjtgul">
		{foreach $zjdata as $k=>$vo}
			<li>恭喜 【<span class=c1><{$vo.name}></span>】 <{$vo.lottery}> <span class=c2><{$vo.issue}></span> 期, 喜中 <span class=c3><{$vo.prize}></span> 大奖!</li>
		{/foreach}
		</ul>
	</div>
</div>
<script language="javascript" type="text/javascript">

jQuery(document).ready(function(){
	$("#Showjiangjin").click(function(){
		
		$("#jangjinmod").show();
		$("#Showjiangjin").css("color","blue");
		$("#jfauto").css("color","black");
		var jffixed=$("#jffixed").val();
		if(setCurrentMode(jffixed)){
			window.top.frames['mainframe'].document.location.reload();
		}
		
	});
	$("#jfauto").click(function(){
		
		$("#jangjinmod").hide();
		$("#jfauto").css("color","blue");
		$("#Showjiangjin").css("color","black");
		if(setCurrentMode("4")){
			window.top.frames['mainframe'].document.location.reload();
		}
		
	});
	$("#jffixed").change(function(){
		var jffixed=$("#jffixed").val();
		
		if(setCurrentMode(jffixed)){
			window.top.frames['mainframe'].document.location.reload();
		}
	});
	var currentmode="<{$currentmode}>";
	if(currentmode=="4"){
		$("#jfauto").css("color","blue");
		$("#Showjiangjin").css("color","black");
	}else{
		$("#Showjiangjin").css("color","blue");
		$("#jfauto").css("color","black");
	}
});

function setCurrentMode(mode){
	if(mode==null || mode=="") return false;
	
	$.ajax({
		type : 'POST',
		url  : '__APP__/User/setCurrentMode',
		data : 'mode='+mode,
		timeout : 5000,
		success : function(data){
			
			if("error"==data){				
				alert("设置失败,请刷新");
			}
		},
		error: function(){
			alert("由于网络延迟,请重新选择");
		}
	});
	
	return true;
}

</script>
<div class="automode">
<div class="usermod">模式:
<eq name="jfauto_isopen" value="1">
<a href="javascript:return false;" id="jfauto" style="color:black;">自由调节</a>
</eq>
<eq name="modeNum" value="2">
&nbsp;&nbsp;/&nbsp;&nbsp;
</eq>
<eq name="jffixed_isopen" value="1">
<a style="cursor:pointer" id="Showjiangjin" >固定奖金</a> 
</eq>
 </div>
 <eq name="jffixed_isopen" value="1">
 <div id="jangjinmod" class="modbg3" style="display:<{$show}>">
    	<select name="jffixed" id="jffixed" style="margin-left:5px;">
	    	{eq name="jf1700_isopen" value="1" }<option value="1" {eq name="currentmode" value="1"}selected="selected"{/eq} >1700</option>{/eq}
	    	{eq name="jf1800_isopen" value="1" }<option value="2" {eq name="currentmode" value="2"}selected="selected"{/eq} >1800</option></eq>
	    	{eq name="jf1900_isopen" value="1" }<option value="3" {eq name="currentmode" value="3"}selected="selected"{/eq} >1900</option>{/eq}
    	</select>
 </div>
 </eq>
 <div style="clear: both;"></div>
</div>


</BODY>
</HTML>