{include file="Public:head" /}

<style>
	.fenshu{
		background-color: #4c4c4c;
	    border: 6px solid #fff;
	    font-family: "Arial","Verdana","宋体";
	    font-size: 50px;
	    height: 80px;
	    line-height: 80px;
	    text-align: center;
	    width: 120px;
	}
</style>
<BODY>

<H1>
<SPAN class="action-span1"><DIV class='icons_mb1'></DIV>当前位置: 信息中心 </SPAN><DIV style="clear:both"></DIV></H1>
<script>
$(document).ready(function(){
	$("a[rel='notice']").click(function(){
		$("tr[id^='notice_content_']").hide();
		$("#notice_content_"+$(this).attr("id")).show();
	});
	$("tr[id^='notice_content_']").hide();
	$("a[rel='notice']:first").click();
});
</script>
<div class="pagemain">
	<table class="table_b">
		<tr>
			<td class="fenshu" width="30%"><{$zf}></td>
			<td>您的账户安全评分为: <{$zf}> 分 ( 满分100 )<br/><br/>
<{$msg}></td>
		</tr>
	</table>
	<table class="table_b">
		{volist name="list" id="vo" key="k" }
				<?php
					if( $vo['title']=='顶部公告'){
						continue;
					}
				?>
			{if $k==1}
				<tr><td width=75><{$vo.addtime|strtotime|date="Y-m-d",###}></td><td><a href='javascript:' rel="notice" id="<{$vo.id}>"  style="color:#FF0000; font-weight:bold;"><{$vo.title}></a></td></tr>
			{else}
				<tr><td width=75><{$vo.addtime|strtotime|date="Y-m-d",###}></td><td><a href='javascript:' rel="notice" id="<{$vo.id}>"><{$vo.title}></a></td></tr>
			{/if}
		{/volist}
	</table>
</div>
{include file="Public:foot" /}

