{include file="Public:head" /}
<BODY>

<H1><SPAN class="action-span"><A href="<{:url('index/account/index')}>" target='_self'>清空搜索条件</a></SPAN>
<SPAN class="action-span1"><DIV class='icons_mb1'></DIV>当前位置: 账变列表 </SPAN><DIV style="clear:both"></DIV></H1>
<script type="text/javascript" src="__PUBLIC__/js/calendar/jquery.dyndatetime.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/calendar/lang/calendar-utf8.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="__PUBLIC__/js/calendar/css/calendar-blue2.css"  />
<script type="text/javascript">
jQuery(document).ready(function() {		
	jQuery("#ordertime_min").dynDateTime({
		ifFormat: "%Y-%m-%d %H:%M:%S",
		daFormat: "%l;%M %p, %e %m,  %Y",
		align: "Br",
		electric: true,
		singleClick: false,
		button: ".next()",
		showOthers: true,
		weekNumbers: true,
		showsTime: true
	});
	jQuery("#ordertime_max").dynDateTime({
		ifFormat: "%Y-%m-%d %H:%M:%S",
		daFormat: "%l;%M %p, %e %m,  %Y",
		align: "Br",
		electric: true,
		singleClick: false,
		button: ".next()",
		showOthers: true,
		weekNumbers: true,
		showsTime: true
	});
	jQuery("#endtime").change(function(){
		if(! validateInputDate(jQuery("#endtime").val()) )
		{
			jQuery("#endtime").val('');
			$.alert("时间格式不正确,正确的格式为:2011-01-01 08:00");
		}
		if($("#starttime").val()!="")
		{
			if($("#starttime").val()>$("#endtime").val())
			{
				$("#endtime").val("");
				$.alert("输入的时间不符合逻辑, 起始时间大于结束时间");
			}
		}
	});
	jQuery("#lotteryid").change(function(){
		var data_method = <{$data_method}>;
		var data_issue =  <{$data_issue}>;
		var obj_method = $("#methodid")[0];
		var obj_issue  = $("#issue")[0];
		i =  $("#lotteryid").val();
		$("#methodid").empty();
		$("#issue").empty();
		addItem( obj_method,'所有玩法',-10 );
		addItem( obj_issue,'所有奖期',-10 );
		if(i>0)
		{
			$.each(data_method[i],function(j,k){
				addItem( obj_method,k.methodname,k.methodid );
			});
			$.each(data_issue[i],function(j,k){
				addItem( obj_issue,k.issue,k.issue );
			});		
		}
		SelectItem(obj_method,0);
		SelectItem(obj_issue,'0');
	});
	$("#lotteryid").val(0);
	$("#lotteryid").change();
});

function checkForm(obj)
{
	if( jQuery.trim(obj.ordertime_min.value) != "" )
	{
		if( false == validateInputDate(obj.ordertime_min.value) )
		{
			alert("时间格式不正确");
			obj.ordertime_min.focus();
			return false;
		}
	}
	if( jQuery.trim(obj.ordertime_max.value) != "" )
	{
		if( false == validateInputDate(obj.ordertime_max.value) )
		{
			alert("时间格式不正确");
			obj.ordertime_max.focus();
			return false;
		}
	}
}
</script>
<style>
	.st td{
		color:#777;
	}
	
</style>
<div class="pagemain">
<div class="geren_menu">
      <ul>
          <li class="current"><a href="<{:url('index/Account/index')}>"><img alt="" src="__ASSETS__/images/icon/icon (14).png">帐变列表</a></li>
          <li><a href="<{:url('index/Report/reportList')}>"><img alt="" src="__ASSETS__/images/icon/icon (3).png">报表查询</a></li>
          <li><a href="<{:url('index/Report/countFd')}>"><img alt="" src="__ASSETS__/images/icon/icon (18).png">返点查询</a></li>
          <li><a href="<{:url('index/Report/todayReport')}>"><img alt="" src="__ASSETS__/images/icon/icon (8).png">今日报表</a></li>
      </ul>
</div>
<table class='table_b' border="0" cellspacing="0" cellpadding="0">
<form action="" method="get" name="search" onsubmit="return checkForm(this)">
<input type="hidden" name="isrequery" value="1" />
<tr><td width='168'>类型:
<select name="my_search[accounttype]" multiple="multiple" size='7' style="width:120px;">
<option value="-10" SELECTED>所有类型</option>
{volist name="ordertype" id="vo"}
	<option value="<{$vo.accountnum}>"><{$vo.accounttype}></option>
{/volist}
</select>
</td><td valign='top' style='line-height:28px;'>
帐变时间: <input style='width:124px;' type="text" size="19" name="starttime" id="ordertime_min" value="<{$starttime}>" /> <img class='icons_mb4' src="/images/comm/t.gif" id="time_min_button" /> 至 <input style='width:124px;' type="text" size="19" name="endtime" id="ordertime_max" value="<{$endtime}>" / > <img class='icons_mb4' src="/images/comm/t.gif"/> &nbsp;&nbsp;&nbsp;&nbsp;<button name="submit" type="submit" width='69' height='26' class="btn_search" /></button>
<br/>
&nbsp;&nbsp;用户名: <input style='width:90px;' type="text" name="username" value="" size="19" />
&nbsp;范围: <select name='range'><OPTION selected value="1">自己</OPTION><OPTION  value="2">直接下级</OPTION></select>&nbsp;&nbsp;
<select name="my_search[ztype]" id="ztype" >  
<option value="-10">编号查询</option>
<option value="3" >帐变编号</option>
<option value="1" >注单编号</option>
<option value="2" >追号编号</option>

</select>
<input style='width:100px;' type="text" name="ztypefield" value="" id="ztypefield">
<br />
游戏名称: 
  <select name="my_search[lotteryid]" id="lotteryid" style="width:100px;">
  	<option value="-9">所有游戏</option>
   {volist name="lotterylist" id="vo"}
							<option value="<{$vo.lotteryid}>"><{$vo.lotteryname}></option>
	{/volist}
  </select>
<span id="game_info">
&nbsp;玩法: <select name='my_search[methodid]' id='methodid' style='width:100px;'><option value='-10' selected="selected">所有玩法</option></select>
&nbsp;奖期: <select name='my_search[issue]' id='issue'><option value='-10' selected="selected">所有奖期</option></select>
</span>
&nbsp;模式: <select name="my_search[mode]" id="modes">
<option value="-10">全部</option>
<option value="1">元</option>
<option value="2">角</option>
<option value="3">分</option>
</select>
<div style="font-size:12px;padding:0px;margin:3px 0px 0px 0px;">
<input type="hidden" name="lntype" id="lntype" value="" />
快速查询: <input class='button' type="submit" name="submit" value="我充值的.." onclick="document.getElementById('lntype').value='6';" />&nbsp;
<input class='button' type="submit" name="submit" value="我提现的.." onclick="document.getElementById('lntype').value='7';" />&nbsp;
<input class='button' type="submit" name="submit" value="我投注的.." onclick="document.getElementById('lntype').value='1';" />&nbsp;
<input class='button' type="submit" name="submit" value="我追号的.." onclick="document.getElementById('lntype').value='2';" />&nbsp;
<input class='button' type="submit" name="submit" value="我的奖金" onclick="document.getElementById('lntype').value='9';" />&nbsp;
<input class='button' type="submit" name="submit" value="我的返点" onclick="document.getElementById('lntype').value='4';" />&nbsp;
</div></td></tr></form></table></div>


<div class="pagemain">
<table class="table_b" border="0" cellspacing="0" cellpadding="0">
	<tr class="table_b_th">
    	<th>帐变编号</th>
        <th>用户名</th>
        <th>时间</th>
        <th>类型</th>
        <th>游戏</th>
        <th>玩法</th>
        <th>期号</th>
        <th>模式</th>
        <th>收入</th>
        <th>支出</th>
        <th>余额</th>
        <th>备注</th>
    </tr>
    {volist name="accountList" id="vo"}
      <tr class="needchangebg">
    	<td align="center"><{$vo.accountnum}></td>
        <td align="center"><{$vo.username}></td>
        <td align="center"><{$vo.addtime}></td>
        <td align="center"><{$vo.accounttypename}></td>
        <td align="center"><{$vo.lotteryname}></td>
        <td align="center"><{$vo.methodname}></td>
        <td align="center"><{$vo.issue}></td>
        <td align="center"><{$vo.mode}></td>
        <td align="center"><{$vo.shuolu}></td>
        <td align="center"><{$vo.zhichu}></td>
        <td align="center"><{$vo.money_after}></td>
        <td align="center" title="<{$vo.beizhu}>"><{$vo.beizhu|msubstr=0,10}></td>
    </tr>
     {/volist}
         {switch name="message"}
		{case value="0"}
			 <tr>
    	<td height="37" colspan="13" align="center" class=needq><span>请选择查询条件之后进行查询<span></td>
            </tr>
		{/case}
		{case value="2"}
			<tr>
    	<td height="37" colspan="13" align="center" class="no-records"><span>没有找到指定条件的投注记录</span></td>
             </tr>
		{/case}		
		{case value="1"}
		 <tr align="right">
    	<td height="37" colspan="25"><?php echo $page; ?></td>
         </tr>
		{/case}		
  {/switch}
    </table>
</div>
{include file="Public:foot" /}