<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="refresh" content="45; "> 
<title>自动开奖</title>
</head>
<body>

	<eq name="isopenwinauto" value="1">

		<iframe name=frmUserLongin src="__URL__/ssc500wan/isAutoDuo/1" frameborder=0  height=550 width=800 scrolling=no></iframe>

		<!-- 
		<iframe name=frmUserLongin src="__URL__/hscShiPin/isAutoDuo/1" frameborder=0  height=50 width=800 scrolling=no></iframe>

		<iframe name=frmUserLongin src="__URL__/xjcShiPin/isAutoDuo/1" frameborder=0  height=50 width=800 scrolling=no></iframe>

		<iframe name=frmUserLongin src="__URL__/xscLeHe/isAutoDuo/1" frameborder=0  height=50 width=800 scrolling=no></iframe>

		<iframe name=frmUserLongin src="__URL__/ssl500wan/isAutoDuo/1" frameborder=0  height=50 width=800 scrolling=no></iframe>

		<iframe name=frmUserLongin src="__URL__/sd115LeHe/isAutoDuo/1" frameborder=0  height=50 width=800 scrolling=no></iframe>
		
		<iframe name=frmUserLongin src="__URL__/dl115LeHe/isAutoDuo/1" frameborder=0  height=50 width=800 scrolling=no></iframe>

			<iframe name=frmUserLongin src="__URL__/gd115LeHe/isAutoDuo/1" frameborder=0  height=50 width=800 scrolling=no></iframe>

			<iframe name=frmUserLongin src="__URL__/cq115ShiPin/isAutoDuo/1" frameborder=0  height=50 width=800 scrolling=no></iframe>

		<iframe name=frmUserLongin src="__URL__/pls500wan/isAutoDuo/1" frameborder=0  height=50 width=800 scrolling=no></iframe>

		<iframe name=frmUserLongin src="__URL__/fucai500wan/isAutoDuo/1" frameborder=0  height=50 width=800 scrolling=no></iframe>
		 -->
	</eq>

<!--


		
		

		

		

		

	

		

		

-->



</body>
</html>