{include file="Public:head" /}
<BODY>

<H1>
<SPAN class="action-span1"><DIV class='icons_mb1'></DIV>当前位置: 今日新注册用户列表 </SPAN><DIV style="clear:both"></DIV></H1>
<SCRIPT type="text/javascript" src="__PUBLIC__/js/calendar/jquery.dyndatetime.js"></SCRIPT>
<script type="text/javascript" src="__PUBLIC__/js/calendar/lang/calendar-utf8.js"></SCRIPT>
<LINK rel="stylesheet" type="text/css" media="all" href="__PUBLIC__/js/calendar/css/calendar-blue2.css"  />
<script language="javascript">
function getTeamBank(obj, uid) {
    if (jQuery(obj).closest("tr").next(".showteam").html() != null) {
        jQuery(obj).closest("tr").next(".showteam").show();
    } else {
        var html = '<tr class="showteam"><td height="20" colspan=5>&nbsp;</td><td align="center"><span>正在读取数据....</span></td></tr>';
        jQuery(obj).closest("tr").after(html);
        jQuery.ajax({
            type: "GET",
            url: "__URL__/getTuanDuiMoney?dq="+ new Date().getTime()+"&uid=" + uid,
            dataType: "json",
            cache: false,
            success: function(data) {
                jQuery(obj).closest("tr").next(".showteam").find("span").html(data.error);
                if (data.error == "error") {
                    jQuery(obj).closest("tr").next(".showteam").find("span").html('抱歉, 您没有权限&nbsp;&nbsp;<a href="javascript:" style="color:#CF0;" onclick="hideTeam(this)">[关闭]</a>');
                } else {
                    if (data.error == "0") {
                        jQuery(obj).closest("tr").next(".showteam").find("span").html('团队余额: <font color="#FFCC33">' + moneyFormat(data.result) + '</font>&nbsp;游戏币&nbsp;&nbsp;<a href="javascript:" style="color:#CF0;" onclick="hideTeam(this)">[关闭]</a>');
                    } else {
                        return true;
                    }
                }
            }
        });
    }
}
function hideTeam(obj) {
    jQuery(obj).closest("tr").hide();
}
</script>
<div class="pagemain">
<table class='table_b' border="0" cellspacing="0" cellpadding="0">
<form action="<{:url('index/Users/jrxkhy')}>" method="get" name="search" onSubmit="return checkForm(this)">
<input type="hidden" name="frame" value="show" />
<input type="hidden" name="flag" value="search" />
	<tr>
    	
        <td>排序：
		<!--
		 <input type="checkbox" name="chongzhi" value="1"   />有充值
		-->
				
                <input type="checkbox" name="ymoney" value="1"   />有余额
                
                
                <input type="checkbox" name="online" value="1"   />当前在线
		
		</td>
		<td>
		<button name="submit" type="submit" width='69' height='26' class="btn_search" /></button>
        </td>
    </tr>
    
</form>
</table>
</div>

<div class="pagemain" >
<table class="table_b" border="0" cellspacing="0" cellpadding="0">
<form action="" method="get">
	<tr>
    	<td class='t' colspan="7"><div>
		&nbsp;&nbsp;<a href="__ACTION__" target="userlist_content">我的今日新用户</a>					</div></td>
    </tr>
    <tr class='th'>
    	<td>用户名</td>
        <td><div class='line'></div>用户级别</td>
        <td><div class='line'></div>余额</td>
        <td><div class='line'></div>在线状态</td>    
        <td><div class='line'></div>注册时间</td>
        <td><div class='line'></div>操作</td>
    </tr>
    {volist name="userContentList" id="vo"}
    <if condition="$vo.self eq 1">
    	<tr  class="self_tr" >
    	<td align="left" height="20">&nbsp;&nbsp;<{$vo.username}></td>
        <td align="center"><{$vo.jibie}>级<{$vo.usertype}></td>
        <td align="center"><{$vo.money}></td>
        <td align="center"><{$vo.online}></td>     
        <td align="center"><{$vo.addtime}></td>
        <td align="center">
        			<eq name="vo.jibie" value="1">
			            <a href="__URL__/editUser?username=<{$vo.username}>">编辑</a>
			        </eq>    
			            <if condition="$vo.jibie eq 1">
							 <a href="__APP__/Account?username=<{$vo.username}>&range=2">帐变</a>
			             </if>
                          <a href="__APP__/User/mySet/username/<{$vo.username}>">用户详情</a>
            <a href="javascript:" onclick="getTeamBank(this,<{$vo.id}>)">团队余额</a>
                                </td>
    </tr>
    <else/>
    <tr  class="needchangebg" >
    	<td align="left" height="20">&nbsp;&nbsp;<a href="__ACTION__?uid=<{$vo.id}>" target="userlist_content" style="color:#003399; text-decoration:none;"><{$vo.username}></td>
        <td align="center"><{$vo.jibie}>级<{$vo.usertype}></td>
        <td align="center"><{$vo.money}></td>
         <td align="center"><{$vo.online}></td>           
        <td align="center"><{$vo.addtime}></td>
        <td align="center">
        			<eq name="vo.jibie" value="1">
			             <a href="__URL__/editUser?username=<{$vo.username}>">编辑</a>
			         </eq>    
			            <if condition="$vo.jibie eq 1">
							  <a href="__APP__/Account?username=<{$vo.username}>&range=2">帐变</a>
			             </if>
                        <a href="__APP__/User/mySet/username/<{$vo.username}>">用户详情</a>
            <a href="javascript:" onclick="getTeamBank(this,<{$vo.id}>)">团队余额</a>
                                </td>
    </tr>
    </if>
        
    {/volist}
    {if isset($page)}
      <tr><td class='b' colspan="7"><div style='text-align:right;'><{@$page}></div></td></tr>
    {/if}
</form>
</table>
</div>
{include file="Public:foot" /}
