{include file="Public:head" /}
<BODY STYLE="background:#FFF url('/images/v1/main_bg_0001.jpg') 0px -490px repeat-x; padding:10px;"><DIV ID='main_box'>
<div class="box l"></div>
<div class="box c"></div>
<div class="box r"></div>
<div class="box m">

<H1>
<SPAN class="action-span1"><DIV class='icons_mb1'></DIV>当前位置: 代理分红
</SPAN><DIV style="clear:both"></DIV></H1>
<STYLE>
.info{line-height:21px;padding:8px 0px;}
.info div{line-height:18px;font-size:12px;padding:0px;margin:0px;}
div .q{color:#222;padding-left:18px;padding-top:3px;}
div .a{color:#070;padding-left:18px;padding-top:3px;padding-bottom:12px;}
.subbtn{ width:89px; height:26px; border:0; text-align:center; font-size:12px; color:#fff; cursor:pointer; background:url(/images/v1/subbtn.gif) no-repeat; font-weight:bold;}
</STYLE>
<div class="tab-div">

<div class="ld" style='width:99%;margin:5px 0px 0px 0px;'>
<form action="__URL__/doHlSong" method="post" name="drawform" id="drawform">
<table width="100%" class="ct" border="0" cellspacing="0" cellpadding="0">


<tr>
	<td class="nl">活动主题：</td>
	<td STYLE='line-height:20px;padding:5px 0px'><font style="font-size:16px;color:#F30;font-weight:bold;">代理分红</font>
	</td>
</tr>
<tr>
	<td class="nl">活动内容</td>
    <td class='info' style="font-size:14px;color:green">
					活动期间，会员每日充值累计达到500元,代理将得到分红!
				    
	</td>
</tr>
<tr>
	<td class="nl">活动规则</td>
    <td class='info' style="font-size:14px;color:green">
				1, 会员当天累计冲值达到500元,直接上级将得到<font color='red'>9</font>元佣金,上上级将得到<font color='red'>6</font>元佣金,上上上级将得到<font color='red'>3</font>元佣金<br/>
                2, 会员当天累计消费达到500元,直接上级将得到<font color='red'>9</font>元佣金,上上级将得到<font color='red'>6</font>元佣金,上上上级将得到<font color='red'>3</font>元佣金<br/>
			    3, 会员当天累计亏损达到500元,直接上级将得到<font color='red'>9</font>元佣金,上上级将得到<font color='red'>6</font>元佣金,上上上级将得到<font color='red'>3</font>元佣金<br/>
				4, 系统自动返上佣金,无需联系客服人员。<br/>
				5, 平台将对本次活动全程监控，活动禁止违规操作，如有发现，一律严惩！<br/>

				    
	</td>
</tr>

 

</table>
</form>
</div>
<div id="footer"><table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td align="center"><table align="center" width="450">
<tr><td align="left"><font color='#000000'>浏览器建议：首选IE 8.0浏览器，其次为火狐浏览器。</font></td></tr>
</table></td></tr><tr><td></td></tr></table></div>
<br/><br/>
</div></div>
</BODY></HTML>