{include file="Public:head" /}
<BODY>

<H1>
<SPAN class="action-span1"><DIV class='icons_mb1'></DIV>当前位置: 更改昵称 </SPAN><DIV style="clear:both"></DIV></H1>
<script type="text/javascript">
function checkform(obj)
{
  if( !validateNickName(obj.nickname.value) )
  {
  	alert("呢称不符合规则，请重新输入");
	obj.nickname.focus();
	return false;
  }
  return true;
}
</script>
<div class="pagemain">
<table class="table_b">
<form  method="post" name="updateform" onsubmit="return checkform(this)" action="__URL__/updateNickName">

  <tr>
  	<td class="nl">我的呢称:</td>
    <td><input type="text" size=18 name="nickname" value="<{$nickname}>" /> ( 由 2 至 8 个字符组成,可中文 ) </td>
  </tr>
  <tr><td></td><td><button name="submit" type="submit" width='69' height='26' class="btn_submit" /></button></td></tr>
</form>
</table>
</div>
</BODY></HTML>