{include file="Public:head" /}
<BODY>
<H1>
<SPAN class="action-span1"><DIV class='icons_mb1'></DIV>当前位置: 资金密码检查 </SPAN><DIV style="clear:both"></DIV></H1>
<script>
</script>
<body onLoad="document.updateform.secpass.focus();">
<div class="pagemain">
<div class="geren_menu">
      <ul>
          <li><a href="<{:url('index/user/editPwd')}>"><img alt="" src="__ASSETS__/images/icon/icon (30).png">修改密码</a></li>
          <li><a href="<{:url('index/user/showChonZhi')}>"><img alt="" src="__ASSETS__/images/icon/icon (31).png">充值申请</a></li>
          <li class="current"><a href="<{:url('index/user/showZhiJinPwd',array('flag'=>'tx'))}>"><img alt="" src="__ASSETS__/images/icon/icon (32).png">提现申请</a></li>
          <li><a href="<{:url('index/user/showZhiJinPwd',array('flag'=>'yhk'))}>"><img alt="" src="__ASSETS__/images/icon/icon (33).png">我的资料</a></li>
      </ul>
</div>
<table class="table_b" border="0" cellspacing="0" cellpadding="0">
<form action="<{$action}>" method="post" name="updateform">
<input type="hidden" name="flag" value="check" />
<input type="hidden" name="nextcon" value="account" />
<input type="hidden" name="nextact" value="autosave" />
  <tr>
  	<td class="nl">输入资金密码: </td>
    <td>
	<input id='secpass' type="password" name="secpass" value="" /> &nbsp;&nbsp;
		<button name="submit" type="submit" width='69' height='26' class="btn_submit" />
	</td>
  </tr>
  </form>
</table>
</div>
{include file="Public:foot" /}