{include file="Public:head" /}
<BODY>
<H1>
<SPAN class="action-span1"><DIV class='icons_mb1'></DIV>当前位置: 资金密码检查 </SPAN><DIV style="clear:both"></DIV></H1>
<script>
</script>
<body onLoad="document.updateform.secpass.focus();">
<div class="pagemain">
<table class="table_b" border="0" cellspacing="0" cellpadding="0">
<form action="<{$action}>" method="post" name="updateform">
<input type="hidden" name="flag" value="check" />
<input type="hidden" name="nextcon" value="account" />
<input type="hidden" name="nextact" value="autosave" />
  <tr>
  	<td class="nl">输入资金密码: </td>
    <td>
	<input id='secpass' type="password" name="secpass" value="" /> &nbsp;&nbsp;
		<button name="submit" type="submit" width='69' height='26' class="btn_submit" />
	</td>
  </tr>
  </form>
</table>
</div>
{include file="Public:foot" /}